

h2 {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 20px;
	color: rgba(var(--bs-secondary-rgb), 1);
	font-size: 2rem;
}




ul li {
	margin: 10px 0;
}

body {
	background: rgba(var(--bs-primary));
	background: linear-gradient(90deg, rgba(var(--bs-primary-rgb), 1), rgba(37, 103, 13, 1));
}

body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
}

.carousel-fade .carousel-item {
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

.carousel-fade .carousel-item.active {
	opacity: 1;
}