---

---

<footer
	class="d-flex flex-column align-items-center justify-content-center text-white"
>
	<div class="container text-center">
		<ul class="list-unstyled">
			<li>
				<a href="#" class="text-secondary text-decoration-none">Impressum</a>
			</li>
			<li>
				<a href="#" class="text-secondary text-decoration-none"
					>Datenschutzrichtlinien</a
				>
			</li>
			<li>
				<a href="#" class="text-secondary text-decoration-none"
					>DSGVO Aufklärung</a
				>
			</li>
			<li>
				<a href="#" class="text-secondary text-decoration-none">AGB's</a>
			</li>
			<li>
				<a href="#" class="text-secondary text-decoration-none"
					>Widerrufsbelehrung</a
				>
			</li>
		</ul>
	</div>
</footer>

<style>
	footer {
		width: 100%;
		background-color: var(--bs-success);
		margin-top: 20px;
	}

	footer .list-unstyled {
		display: flex;
		gap: 80px;
		justify-content: center;
		margin: 0px;
	}
</style>
