<h2>Sie finden mich hier</h2>
<div class="divToAlignIframe">
	<iframe
		src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2581.6220241598053!2d7.744120176927023!3d49.68025814251888!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47960387ccc7e787%3A0xfc603a5b092e247f!2sLindenstra%C3%9Fe%207%2C%2067822%20Finkenbach-Gersweiler!5e0!3m2!1sde!2sde!4v1743080052454!5m2!1sde!2sde"
		width="600"
		height="450"
		style="border:0;"
		allowfullscreen=""
		loading="lazy"
		referrerpolicy="no-referrer-when-downgrade"
	>
	</iframe>
</div>
<style>
	.divToAlignIframe {
		display: flex;
		justify-content: center;
		
	}
</style>
