---
import { contactDetails } from "@components/contactData";
---

<h2>Sie finden mich hier</h2>
<div class="divToAlignIframe">
    <iframe
        src={contactDetails.mapsEmbedUrl}
        width="600"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
    >
    </iframe>
</div>

<style>
    .divToAlignIframe {
        display: flex;
        justify-content: center;
    }
</style>
